<div class="jumbotron">
  <div class="container">
    <div class="row justify-content-sm-center">
      {{!-- <div class="col-sm-auto">
        
      </div> --}}
      <div class="col col-lg-6">
        <img src="assets/images/hot.png" id="pepper-logo" alt="">
        <h1 class="display-4">Tucson Burger</h1>
      </div>
      {{!-- <div class="col-sm-auto">
        
      </div> --}}
    </div>
    <div class="row justify-content-sm-center">
      <p class="lead">Welcome to Old Pueblo's "Hottest" Burger Joint!</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card" id="card1">
        <div class="card-body">
          {{!-- <h5 class="card-title">Card title</h5> --}}
          <h3 class="columnHeader">Place Order Here</h3>
          <hr>

          <div class="instructions">Order a favorite!</div>
          <ol>
            <li>Old Pueblo Burger: $8.00</li>
            <li>Tucson Heat Burger: $8.50</li>
            <li>Wildcat Whopper: $7.50</li>
            <li>Valley Fever Burger: $9.00</li>
            <li>Jucy Lucy Burger: $9.50</li>
          </ol>
          <hr>

          Or make your own burger: $10.00

          <form class="create-form">

            <div class="form-group">
              <label for="bur">Burger Name:</label>
              <input type="text" id="bur" name="burger_name" placeholder=" Build-to-order">
            </div>

            {{!-- <div class="form-group">
              <label for="pickedup">Pickedup?</label><br>
              <input type="radio" name="pickedup" value="1" checked> Pickedup!<br>
              <input type="radio" name="pickedup" value="0"> NotPickedup
            </div> --}}

            <button class="order-burger" type="submit">Place Order</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card" id="card2">
        <div class="card-body">
          {{!-- <h5 class="card-title">Card title</h5> --}}
          <h3 class="columnHeader">Pick Up Here</h3>
          <hr>

          <div class="instructions">Order up!</div>
          <ul>
            {{#each burgers}}
            {{#unless pickedup}}
            {{> burgers/burger-block pickedup=true}}
            {{/unless}}
            {{/each}}
          </ul>
          <hr>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card" id="card3">
        <div class="card-body">
          {{!-- <h5 class="card-title">Card title</h5> --}}
          <h3 class="columnHeader">Dine at Table</h3>
          <hr>

          <div class="instructions">Devour your burger!</div>
          <ul>
            {{#each burgers}}
            {{#if pickedup}}
            {{> burgers/burger-block pickedup=false}} {{!-- this line not necessary if not deleting--}}
            {{/if}}
            {{/each}}
          </ul>
          <hr>
        </div>
      </div>
    </div>
  
  </div>
</div>